body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    box-sizing: border-box;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

